/* #myH1 {
  font-size: 5rem;
} */

.myButtons {
  font-size: 4rem;
  border: none;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
}

.enable {
  background-color: hsla(240, 100%, 50%);
  color: white;
}

.hover {
  box-shadow: 0 0 10 hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

.disable {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 80%);
}